DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cloud_db
JWT_SECRET_KEY=cloud-secret-key-change-in-production
CENTER_API_KEY=change-me-long-random-secret-for-main-center (same as the one in .env in the local server)
FLASK_ENV=development

